{% extends "notes/notes_layout.html" %}
{% block content %}
    {% for note in notes %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ note.user.username }}</a>
                    <small class="text-muted">{{ note.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    <small class="text-muted">{{ note.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status">
                            <option>Created</option>
                            <option>Started</option>
                            <option>Pause</option>
                            <option>Finished</option>
                            <option>Process</option>
                            <option>Archived</option>
                            <option>Deleted</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label mr-2">
                            <input type="checkbox" class="form-check-input">Done
                        </label>
                    </div>
                    <div class="col">
                        <h2><a class="article-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a>
                        </h2>
                        <p class="article-content">{{ note.content }}</p>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}