<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font_awesome.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Geek Space</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('notes') }}">
                        <i class="far fa-file-alt"></i> Notes
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <i class="fas fa-dumbbell"></i> Workout
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <i class="fas fa-brain"></i> Mind
                    </a>
                    <a class="nav-item nav-link" href="#">
                        <i class="far fa-calendar-alt"></i> Free Time
                    </a>
                </ul>
                <!-- Navbar Right Side -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3 bg-steel">
                        {% if current_user.is_authenticated %}
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-user">  {{ current_user.username }}</i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('profile') }}">
                                    <i class="fas fa-cog"></i> Profile
                                </a>
                                <a class=" dropdown-item" href="{{ url_for('logout') }}">
                                    <i class="fas fa-user-times"></i> Logout
                                </a>
                            </div>
                        {% else %}
                            <a href="#" class="nav-link dropdown-toggle">
                                <i class="fas fa-user">Guest</i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('login') }}">
                                    <i class="fas fa-user-check"></i> Login
                                </a>
                                <a class="dropdown-item" href="{{ url_for('register') }}">
                                    <i class="fas fa-user-plus"></i> Register
                                </a>
                            </div>
                        {% endif %}
                    </li>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>